* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/*heading style*/
.greethead {
    width: 200px;
    color: #000000;
    font-size: 50px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 10px;
    border: 2px solid black;
    margin: 10 auto;
 
}

img.home-img
 {
    padding: 1px;
    border: 2px solid lightseagreen;
    width: 600px;
    margin: 10 auto;
    display: block;
   

}

/*list style*/

.recipe-list-container {

    border: 2px solid lightseagreen;
    margin: 0 auto;
    display: block;
    width: 400px;
}

.recipe-card .recipe-img {
    padding: 1px;
    border: 2px solid lightseagreen;
    width: 600px;
    margin: 0 auto;
    display: block;

}


.recipe-list {
    list-style-type: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: xx-large;
    text-align: center;    
}

.homebutton {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: block;
    width: 50px;
    margin: 10px auto;
    border: 1px solid black;
    padding: 2px;
}

.recipe-card {
    padding: 5px 5px 30px 5px;
    border: 4px dashed lightgreen;
    margin: 10px;
    
}

.recipe-title {
    width: 500px;
    color: #000000;
    font-size: 40px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 10px;
    border: 2px solid black;
    margin: 10px auto;
    display: block;
}

.img-caption {
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    margin-top: 4px;
}

.recipe-intro {
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: -20px;
}

.recipe-section-title {
    padding: 2px;
    font-size: 40px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: -10px;

}

.recipe-section-items {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    margin-bottom: -20px;
}

